* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main-title {
    color: rgb(151, 25, 115);
}

.list-item {
    font-size: 1.5rem;
}

#product-list .list-item {
    color: rgb(32, 112, 32);
    font-size: 2rem;
}

li {
    font-size: 3rem;
}

.box {
    height: 300px;
    width: 300px;
    background-color:#db8282;
}

#box1 {
    background-color: #db8282;
    padding: 20px;
    margin-bottom: 30px;
    width: auto;
}

#box2 {
    background-color: dimgray;
    padding: 100px 50px;
    display: inline-block;
}

#box3 {
    background-color: mediumslateblue;
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}