* {
  font-family: "Oxygen", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.745);
  width: 100%;
  z-index: 999;
  height: 70px;
}
nav .nav-list {
  display: flex;
  padding-top: 0.4rem;
  list-style-type: none;
  width: 100%;
}

.nav-list li {
  margin: 0 20px;
  padding: 10px 20px;
}

.div-right i {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
}

.div-right {
  padding: 1.2rem;
  margin-right: 3rem;
  justify-content: right;
}

.video {
  height: 100%;
  width: 100%;
}

.video-overlay {
  height: 100%;
  width: 100%;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

#trailer {
  width: 100%;
}

.featured-banner {
  height: 800px;
  background-image: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.05),
    rgb(49, 49, 48)
  );
  position: relative;
  top: 70px;
  overflow: hidden;
}

img {
  height: 150px;
}

#play {
  color: white;
  background-color: rgba(0, 0, 0, 0.393);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
}

#play:hover {
  background-color: #383737;
  color: white;
}

#info {
  color: white;
  background-color: rgba(0, 0, 0, 0.393);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
}

#info:hover {
  background-color: #383737;
  color: white;
}

.play-text {
  display: inline;
  padding-left: 10px;
}

.info-text {
  display: inline;
  padding-left: 10px;
}

.other-shows {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
