* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

h1 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
}

header {
  background-color: #9669a5;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
}

.root {
  min-height: 100vh;
  position: relative;

  padding-bottom: 150px;
}

.nav-list {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-list li:hover {
  background-color: #d5a5e5;
}

.nav-list a:link,
.nav-list a:visited {
  text-decoration: none;
  color: black;
}

.nav-list li.active {
  background-color: #531866;
  color: white;
}

.nav-list li {
  margin: 0 20px;
  padding: 10px 20px;
}

.page-section {
  width: 80%;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.imagen {
  height: 450px;
  width: 600px;
  margin: 10px;
}

.paper {
  background-color: #d5a5e5;
  padding: 1rem;
}

footer {
  background-color: #9669a5;
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 100px;

  padding: 2rem;

  text-align: center;
  font-size: 0.7rem;
}

.text-center {
  text-align: center;
}
