h1 {
    width:80%;
    margin:0 auto;
}
header {
    height: 62px;
    background-color: rgb(255, 0, 60);
    margin-bottom: 80px;
}
.nav-list {
    background-color: rgb(255, 0, 60);
    display: flex;
    text-decoration-line: none;
    text-decoration: none;
    list-style-type: none;
    
}
.nav-list li:hover{
    background-color: blue;

}
a:link {
    text-decoration: none;
    color:black;
}
a:visited {
    text-decoration: none;
    color:black;
}
   .nav-list li{
    margin:20px ;
    padding:10px;
}
.page-section {
    width: 80%;
    margin: 0 auto;
}
.imagen {
    margin: 10px;
}
#staff-table {
font-family: monospace;
background-color: rgba(180, 34, 34, 0.6);
}
#form {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(180, 34, 34, 0.6);
}
div.form-control {
    width:80%;
    margin:0 auto;
}
footer{
    background-color: rgb(255, 0, 60);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}